<div class="hero-home text-center text-white d-flex align-items-center justify-content-center">
    <div>
        <h1 class="display-4 fw-bold">CivicConnect</h1>
        <p class="lead">Smart Civic Issue Reporting System</p>
        <a href="/Account/Login" class="btn btn-warning btn-lg mt-3">Get Started</a>
    </div>
</div>