<div class="container mt-5">
    <h2>Privacy Policy</h2>
    <p>
        CivicConnect respects your privacy. All user data including complaints,
        location, and personal information is securely stored and used only for
        improving civic services.
    </p>

    <p>
        We do not share your personal data with third parties without consent.
    </p>

    <p>
        Your trust is important to us.
    </p>
</div>